.wrapper {
  width: 7vmin;
  height: 7vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  margin: 0.5vmin;
}

.wrapperHovered:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}

.symbol {
  font-size: 6.5vmin;
  animation-name: symbolIn;
  animation-duration: 0.5s;
}

.symbolContrast {
	color:red;
}

@keyframes symbolIn {
  from {
    font-size: 0px;
  }
  to {
    font-size: 6.5vmin;
  }
}
