.wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  margin: 5px;
}

.wrapperHovered:hover {
  background-color: cornflowerblue;
}

.symbol {
  font-size: 40px;
  animation-name: symbolIn;
  animation-duration: 0.5s;
}

.symbolContrast {
	color:red;
}

@keyframes symbolIn {
  from {
    font-size: 1px;
  }
  to {
    font-size: 40px;
  }
}
