.gameContainer {
  display: flex;
  flex-direction: column;
}

.rowContainer {
  display: flex;
  flex-direction: row;
}

.winnerMessageContainer {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winnerMessage {
  font-size: 40px;
  font-weight: bold;
  animation-name: symbolIn;
  animation-duration: 0.5s;
}

@keyframes winnerMessageIn {
  from {
    font-size: 1px;
  }
  to {
    font-size: 40px;
  }
}
